html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.nav-toggle {
	font-size: 2.5em;
	color: white;
	float: left;
	position: absolute;
	z-index: 3;
	left: 200px;
	-webkit-transition: left 1s 0.19s;
    transition: left 1s 0.19s;
}

.nav-open {
	color: grey;
	left: 15px;
	-webkit-transition: left 1s;
    transition: left 1s;
}


.side-bar {
	height: 100%;
	background-color: black;
	width: 250px;
	float: left;
	position: absolute;
	z-index: 2;
	left: 0px;
	-webkit-transition: left 1.19s;
    transition: left 1.19s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side-bar-closed {
	left: -250px;
	-webkit-transition: left 1.3s;
    transition: left 1.3s;
}

.search-box {
	margin: 70px auto 10px;
	width: 90%;
	height: 25px;
}

.search-box::placeholder {
	color: #aaa;
}

.destination-list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.destionation-item {
	color: white;
	width: 80%;
	margin: 10px auto;
}

#map {
	height: 100%;
	z-index: 1;
}